/*index*/

.content1 {
    display: flex;
    height: 100px;
    background-color:rgba(252, 0, 189, 0.425);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.content1 ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(236, 16, 145);
    border: 7px solid rgb(230, 29, 129);
    border-radius: 5px;
    color: rgb(24, 3, 22);
}

.content1 a{
    text-decoration: none;
    color: rgb(10, 0, 15);
}

.content2 {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content3 {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgba(177, 57, 224, 0.644);
    flex-direction: column;
}

.content3 p{
    padding: 20px;
}

.content3 h1{
    background-color: rgba(177, 129, 209, 0.863);
    border: 20px solid rgba(178, 101, 197, 0.753);
    margin-top: -10px;
    color: rgb(112, 3, 139);
}

/*pagina 3*/

.blocoPrincipal {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.bloco1 {
    height: 20vh;
    flex: 1;
    background-color: rgba(23, 160, 214, 0.63);
}

.bloco2 {
    height: 30vh;
    flex: 1;
    background-color: rgb(6, 75, 155);
}

.bloco3 {
    height: 15vh;
    flex: 1;
    background-color: rgba(19, 166, 211, 0.685);
}

.bloco4 {
    height: 35vh;
    flex: 1;
    background-color: rgb(10, 86, 173);
}

.bloco5 {
    height: 50vh;
    flex: 1;
    background-color: rgba(28, 162, 202, 0.829);
}

.bloco6 {
    height: 20vh;
    flex: 1;
    background-color: rgb(8, 73, 172);
}

/*pagina 2*/

.container1 {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex: 1;
    background-color: rgb(184, 243, 238);
    padding: 10px;
}

.container2 h1{
    color: rgba(6, 141, 141, 0.747);
}

.container3 {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerMenu {
    background-color: rgba(12, 151, 144, 0.377);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerLayout ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgba(6, 139, 133, 0.822);
    border: 5px solid rgba(8, 143, 143, 0.842);
    border-radius: 5px;
}

.containerLayout a{
    text-decoration: none;
    color: rgb(9, 0, 12);
}

.containerAd {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 147, 194, 0.89);
    flex: 1;
}

.container5 {
    display: flex;
    background-color: rgba(21, 174, 201, 0.842);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}